<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
  </head>
<body>
  <h1>Error Please Login</h1>
  <br/>
  <a href="/login">Login Page</a>
  <br/>
  <a href="/register">Registration</a>
</body>
</html>